<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nosfie.easyorg">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon256"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewTask.NewTaskFirstScreen" android:noHistory="true" android:label="Новая задача" >
        </activity>
        <activity android:name=".NewTask.NewTaskSecondScreen" android:noHistory="true" android:label="Новая задача" >
        </activity>
        <activity android:name=".NewTask.NewTaskThirdScreen" android:noHistory="true" android:label="Новая задача" >
        </activity>
        <activity android:name=".NewTask.NewTaskShoppingList"
            android:noHistory="true"
            android:label="Новая задача"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".TaskList.TaskList" android:label="Текущий список дел" >
        </activity>
        <activity android:name=".TaskList.ShoppingList" android:noHistory="true" android:label="Список покупок" >
        </activity>
        <activity android:name=".Settings.Settings" android:label="Настройки" >
        </activity>
        <activity android:name=".TaskList.EditShoppingList" android:noHistory="true" android:label="Редактировать список покупок">
        </activity>
        <activity android:name=".TaskCalendar.TaskCalendar" android:label="Календарь задач">
        </activity>
        <activity android:name=".TaskCalendar.DayTasks" android:label="Задачи на день">
        </activity>
    </application>

</manifest>